html, body {
    height: 100%;
    margin: 0; /* Añade esto para quitar el margen predeterminado del cuerpo */
}

body {
    display: flex;
    flex-direction: column; /* Asegura que el contenido se alinee verticalmente */
    align-items: center;
    justify-content: center;
    padding: 40px 20px; /* Puedes ajustar el padding según tus necesidades */
    background-image: url('../img/EdifCN.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir el área del contenedor */
    background-position: center; /* Centra la imagen vertical y horizontalmente */
    font-family: Arial, sans-serif; /* Añade una fuente para mejorar la legibilidad */
}

.details {
    font-weight: normal !important;
}
